VERSION

class/
src/joshua/decoder/ff/lm/srilm/SWIGTYPE_p_Ngram.java
src/joshua/decoder/ff/lm/srilm/SWIGTYPE_p_Vocab.java
src/joshua/decoder/ff/lm/srilm/SWIGTYPE_p_unsigned_int.java
src/joshua/decoder/ff/lm/srilm/libsrilm.dylib
src/joshua/decoder/ff/lm/srilm/srilm.java
src/joshua/decoder/ff/lm/srilm/srilm.o
src/joshua/decoder/ff/lm/srilm/srilmJNI.java
src/joshua/decoder/ff/lm/srilm/srilm_java_wrap.cxx
src/joshua/decoder/ff/lm/srilm/srilm_java_wrap.o
.DS_Store
src/.DS_Store
src/joshua/.DS_Store
src/joshua/decoder/.DS_Store
src/joshua/decoder/ff/.DS_Store
src/joshua/decoder/ff/lm/.DS_Store

examples/fisher-callhome*
examples/tree_visualizer/tree_visualizer.jar

*.out
*.o
*.dSYM
lib/libken.dylib
scripts/training/giza-pp/GIZA++-v2/GIZA++
scripts/training/giza-pp/mkcls-v2/mkcls
scripts/training/parallelize/sentclient
scripts/training/parallelize/sentserver
src/joshua/decoder/ff/lm/kenlm/build_binary
src/joshua/decoder/ff/lm/kenlm/libken.dylib
src/joshua/decoder/ff/lm/kenlm/ngram_query
src/joshua/decoder/ff/lm/kenlm/query
src/joshua/decoder/ff/lm/kenlm/lmplz
scripts/training/symal/symal
doc/html
doc/latex
*.class
doxygen_*.tmp
*.so
.cachepipe

joshua-decoder.org
release

scripts/training/MGIZA/

bin

*~

.philog.LOGFILE
