bin/
lib/libsrilm.dylib
src/joshua/decoder/ff/lm/srilm/SWIGTYPE_p_Ngram.java
src/joshua/decoder/ff/lm/srilm/SWIGTYPE_p_Vocab.java
src/joshua/decoder/ff/lm/srilm/SWIGTYPE_p_unsigned_int.java
src/joshua/decoder/ff/lm/srilm/libsrilm.dylib
src/joshua/decoder/ff/lm/srilm/srilm.java
src/joshua/decoder/ff/lm/srilm/srilm.o
src/joshua/decoder/ff/lm/srilm/srilmJNI.java
src/joshua/decoder/ff/lm/srilm/srilm_java_wrap.cxx
src/joshua/decoder/ff/lm/srilm/srilm_java_wrap.o
example/example.nbest.srilm.out
example_constrained/
.DS_Store
src/.DS_Store
src/joshua/.DS_Store
src/joshua/decoder/.DS_Store
src/joshua/decoder/ff/.DS_Store
src/joshua/decoder/ff/lm/.DS_Store


*.out
*.o
*.dSYM
lib/libken.dylib
scripts/training/giza-pp/GIZA++-v2/GIZA++
scripts/training/giza-pp/mkcls-v2/mkcls
scripts/training/parallelize/sentclient
scripts/training/parallelize/sentserver
src/joshua/decoder/ff/lm/kenlm/build_binary
src/joshua/decoder/ff/lm/kenlm/libken.dylib
src/joshua/decoder/ff/lm/kenlm/ngram_query
src/joshua/decoder/ff/lm/kenlm/query
examples/example2/example2.1best
examples/example2/example2.1best.sgm
examples/example2/example2.config.kenlm
examples/example2/example2.kenlm.1best
examples/example2/example2.kenlm.nbest
examples/example2/example2.nbest
examples/example2/example2.packed.1best
examples/example2/example2.packed.nbest
examples/example2/example2.ref.all
examples/example2/example2.refs.sgm
test/bn-en/hiero/diff
test/bn-en/hiero/log
test/bn-en/hiero/output
test/bn-en/hiero/output.bleu
test/bn-en/hiero/reference.en.all
scripts/training/symal/symal
doc/html
doc/latex
test/bn-en/packed/log
test/bn-en/samt/1best_default
test/bn-en/samt/1best_packed
test/bn-en/samt/diff
test/bn-en/samt/log
test/bn-en/samt/log_default
test/bn-en/samt/log_packed
test/bn-en/samt/output
test/bn-en/samt/output.bleu
test/bn-en/samt/output_default
test/bn-en/samt/output_default.bleu
test/bn-en/samt/output_packed
test/bn-en/samt/output_packed.bleu
test/bn-en/samt/reference.en.all
*.class
doxygen_*.tmp
*.so
test/scripts/tokenization/diff
test/scripts/tokenization/output
