<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- 
	Test suite for Joshua 
	Authors: Lane Schwartz
	Last changed: $LastChangedDate$
-->

<suite name="TestSuite"    verbose="1" >

  <test name="Lattice" >
    <classes>
       <class name="joshua.lattice.NodeTest" />    
       <class name="joshua.lattice.ArcTest"  />
       <class name="joshua.lattice.LatticeTest" />
    </classes>
  </test>

  <test name="Pattern" >
    <classes>
       <class name="joshua.sarray.PatternTest" />    
    </classes>
  </test>

  <test name="AlignmentArray" >
    <parameter name="alignmentsType" value="AlignmentArray" />
    <classes>
       <class name="joshua.corpus.alignment.AlignmentArrayTest" /> 
       <class name="joshua.corpus.alignment.AlignmentsTest" />   
    </classes>
  </test>

  <test name="AlignmentGrids" >
    <parameter name="alignmentsType" value="AlignmentGrids" />
    <classes>
       <class name="joshua.corpus.alignment.AlignmentGridTest" />
       <class name="joshua.corpus.alignment.AlignmentsTest" />   
       <class name="joshua.corpus.alignment.MemoryMappedAlignmentGridsTest" />
    </classes>
  </test>

  <test name="MemoryMappedAlignmentGrids" >
    <parameter name="alignmentsType" value="MemoryMappedAlignmentGrids" />
    <classes>
       <class name="joshua.corpus.alignment.AlignmentsTest" />   
       <class name="joshua.corpus.alignment.MemoryMappedAlignmentGridsTest" />
    </classes>
  </test>


  <test name="PrefixTree" >
    <classes>
       <class name="joshua.sarray.prefix_tree.PrefixTreeNodeTest" />       
       <class name="joshua.sarray.prefix_tree.PrefixTreeTest" />
       <class name="joshua.sarray.prefix_tree.PrefixTreeAdvancedTest" />
       <class name="joshua.corpus.lexprob.SampledLexProbsTest" />
       <class name="joshua.corpus.lexprob.LexProbsTest" />    
    </classes>
  </test>
 
  
    <test name="Vocab" >
    <classes>
       <class name="joshua.corpus.VocabularyTest" />  
       <class name="joshua.corpus.CorpusArrayTest" />  
    </classes>
  </test>


  <test name="SuffixArray" >
    <parameter name="binaryFileName" value="" />
    <classes>
       <class name="joshua.sarray.HierarchicalPhraseTest" />
       <class name="joshua.sarray.SuffixArrayTest" />  
    </classes>
  </test>
  
  <test name="AlignmentArray RuleExtraction">
     <parameter name="alignmentsType" value="AlignmentArray" />
     <classes>
       <class name="joshua.sarray.prefix_tree.ExtractRulesTest" />  
     </classes> 
  </test>
  
  <test name="AlignmentsGrid RuleExtraction">
     <parameter name="alignmentsType" value="AlignmentsGrid" />
     <classes>
       <class name="joshua.sarray.prefix_tree.ExtractRulesTest" />  
     </classes> 
  </test>  

  <test name="Util" >
    <classes>
       <class name="joshua.util.CacheTest" /> 
    </classes>
  </test>

  <test name="Decoder" >
  	<classes>
 <!--
  		<class name="joshua.decoder.JoshuaDecoderTest" >
     	   <parameter name="configFile" value="example/example.config.javalm" />
     	   <parameter name="sourceInput" value="example/example.test.in" />
     	   <parameter name="referenceOutput" value="example/example.nbest.out.javalm.valid" />
      </class>
 -->
 
 		<class name="joshua.decoder.DecoderThreadTest" />
  	</classes>
  </test>
  
  <test name="Feature Functions" >
  	<classes>
  		<class name="joshua.decoder.ff.ArityPhrasePenaltyFFTest" />
  	</classes>
  </test>
  
  <test name="zmert" >
    <classes>
      <class name="joshua.zmert.BLEUTest" >
        <parameter name="referenceFile" value="example2/example2.ref.0" />
        <parameter name="testFile" value="example2/example2.ref.1" />
      </class>
    </classes>
  </test>

  <test name="BloomFilter">
    <classes>
      <class name="joshua.decoder.ff.lm.bloomfilter_lm.BloomFilterTest" />
    </classes>
  </test>
  
  <test name="BinaryFiles">
    <classes>
      <class name="joshua.util.io.BinaryTest" />
    </classes>
  </test>
  
</suite>
