<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- 
	Test suite for Joshua 
	Authors: Lane Schwartz
	Last changed: $LastChangedDate$
-->

<suite name="TestSuite"    verbose="1" >

  <test name="Lattice" >
    <classes>
       <class name="joshua.lattice.NodeTest" />    
       <class name="joshua.lattice.ArcTest"  />
       <class name="joshua.lattice.LatticeTest" />
    </classes>
  </test>

  <test name="Pattern" >
    <classes>
       <class name="joshua.sarray.PatternTest" />    
    </classes>
  </test>

  <test name="AlignmentArray" >
    <parameter name="alignmentsType" value="AlignmentArray" />
    <classes>
       <class name="joshua.sarray.AlignmentArrayTest" /> 
       <class name="joshua.util.sentence.alignment.AlignmentsTest" />   
    </classes>
  </test>

  <test name="AlignmentGrids" >
    <parameter name="alignmentsType" value="AlignmentGrids" />
    <classes>
       <class name="joshua.util.sentence.alignment.AlignmentGridTest" />
       <class name="joshua.util.sentence.alignment.AlignmentsTest" />   
    </classes>
  </test>

  <test name="PrefixTree" >
    <classes>
       <class name="joshua.sarray.PrefixTreeNodeTest" />       
       <class name="joshua.sarray.PrefixTreeTest" />
       <class name="joshua.sarray.PrefixTreeAdvancedTest" />
       <class name="joshua.sarray.SampledLexProbsTest" />
       <class name="joshua.util.lexprob.LexProbsTest" />    
    </classes>
  </test>
 
  
    <test name="Vocab" >
    <classes>
       <class name="joshua.util.sentence.VocabularyTest" />  
       <class name="joshua.sarray.CorpusArrayTest" />  
    </classes>
  </test>


  <test name="SuffixArray" >
    <classes>
       <class name="joshua.sarray.HierarchicalPhraseTest" />
       <class name="joshua.sarray.SuffixArrayTest" />  
    </classes>
  </test>
  
  <test name="AlignmentArray RuleExtraction">
     <parameter name="alignmentsType" value="AlignmentArray" />
     <classes>
       <class name="joshua.sarray.ExtractRulesTest" />  
     </classes> 
  </test>
  
  <test name="AlignmentsGrid RuleExtraction">
     <parameter name="alignmentsType" value="AlignmentsGrid" />
     <classes>
       <class name="joshua.sarray.ExtractRulesTest" />  
     </classes> 
  </test>  

  <test name="Util" >
    <classes>
       <class name="joshua.util.CacheTest" /> 
    </classes>
  </test>
  
</suite>
