<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- 
	Test suite for Joshua 
	Authors: Lane Schwartz
	Last changed: $LastChangedDate$
-->

<suite name="TestSuite"    verbose="1" >

  <test name="Lattice" >
    <classes>
       <class name="edu.jhu.joshua.lattice.NodeTest" />    
       <class name="edu.jhu.joshua.lattice.ArcTest"  />
       <class name="edu.jhu.joshua.lattice.LatticeTest" />
    </classes>
  </test>


</suite>
