parse = true
mark_oovs = false
pop-limit = 0
useCubePrune = false
useBeamAndThresholdPrune = false

tm = thrax pt 100 grammar
tm = thrax glue -1 grammar.glue

#tm config
default_non_terminal = X
goalSymbol = GOAL

#nbest config
use_unique_nbest = true
use_tree_nbest = true
add_combined_cost = true
top_n = 1

weights-file = weights
