tm_file=C:/data_disk/java_work_space/sf_trunk/example/example.hiero.mono

glue_file=C:/data_disk/java_work_space/discriminative_at_clsp/edu/jhu/joshua/monolingual_parser/monolingual.glue

tm_format=monolingual


#tm config
span_limit=10
phrase_owner=pt
mono_owner=mono
begin_mono_owner=begin_mono
default_non_terminal=X
goalSymbol=S

#pruning config
fuzz1=0.1
fuzz2=0.1
max_n_items=30
relative_threshold=10.0

#nbest config
use_unique_nbest=false
use_tree_nbest=true
add_combined_cost=true
top_n=5

#parallel deocoder: it cannot be used together with remote lm
num_parallel_decoders=2
parallel_files_prefix=.

#disk hg
save_disk_hg=false

###### model weights
#phrasemodel owner column(0-indexed) weight
phrasemodel pt 0 1
#phrasemodel pt 1 0.752247
#phrasemodel pt 2 0.589793
