feature-function = StateMinimizingLanguageModel -lm_type kenlm -lm_order 5 -lm_file resources/kbest_extraction/lm.gz

tm = thrax -owner pt -maxspan 12 -path resources/kbest_extraction/grammar
tm = thrax -owner glue -maxspan -1 -path resources/kbest_extraction/glue-grammar

mark_oovs=false

#tm config
default_non_terminal=X
goalSymbol=GOAL

#pruning config
pop-limit=100

#nbest config
use_unique_nbest=true
top-n = 3126

#feature_function = WordPenalty
feature_function = OOVPenalty

# Model Weights ####

lm_0 1
tm_pt_0 1
tm_glue_0 1
OOVPenalty 10000
