lm_file=<LMFILE>

tm_file=<GRAMMAR_FILE>
tm_format=thrax
use_sent_specific_tm=false
keep_sent_specific_tm=false

glue_file=<GLUE_GRAMMAR>
glue_format=thrax
glue_owner=pt

# lm config
# kenlm, berkeleylm, javalm (not recommended)
lm_type=<LMTYPE>
lm_ceiling_cost=100
use_left_equivalent_state=false
use_right_equivalent_state=false
order=5

mark_oovs=false

#tm config
span_limit=12
phrase_owner=pt
default_non_terminal=<OOV>
goalSymbol=GOAL

#pruning config
pop-limit=100

#nbest config
use_unique_nbest=true
use_tree_nbest=false
add_combined_cost=true
top_n=300

###### model weights
#lm order weight
lm 1.0

#phrasemodel owner column(0-indexed) weight
phrasemodel pt 0 1.0
phrasemodel pt 1 1.0
phrasemodel pt 2 1.0
phrasemodel pt 3 1.0
phrasemodel pt 4 1.0
phrasemodel pt 5 1.0
phrasemodel pt 6 1.0
phrasemodel pt 7 1.0
phrasemodel pt 8 1.0
phrasemodel pt 9 1.0
phrasemodel pt 10 1.0
phrasemodel pt 11 1.0
phrasemodel pt 12 1.0
phrasemodel pt 13 1.0
phrasemodel pt 14 1.0
phrasemodel pt 15 1.0
phrasemodel pt 16 1.0
wordpenalty -1.0
oovpenalty -100
