lm_file=<LMFILE>

tm_file=tune/grammar.filtered.gz
tm_format=thrax
use_sent_specific_tm=false
keep_sent_specific_tm=false

glue_file=tune/grammar.glue
glue_format=thrax
glue_owner=pt

#lm config
use_kenlm=true
lm_ceiling_cost=100
use_left_equivalent_state=false
use_right_equivalent_state=false
order=5

mark_oovs=false

#tm config
span_limit=12
phrase_owner=pt
mono_owner=mono
begin_mono_owner=begin_mono
default_non_terminal=<OOV>
goalSymbol=GOAL

#pruning config
fuzz1=0.1
fuzz2=0.1
max_n_items=30
relative_threshold=10.0
max_n_rules=50
rule_relative_threshold=10.0

#nbest config
use_unique_nbest=true
use_tree_nbest=false
add_combined_cost=true
top_n=300


#remote lm server config, we should first prepare remote_symbol_tbl before starting any jobs
use_remote_lm_server=false
remote_symbol_tbl=./voc.remote.sym
num_remote_lm_servers=4
f_remote_server_list=./remote.lm.server.list
remote_lm_server_port=9000


#parallel deocoder: it cannot be used together with remote lm
num_parallel_decoders=1
parallel_files_prefix=/tmp/


###### model weights
#lm order weight
lm 1.0

#phrasemodel owner column(0-indexed) weight
phrasemodel pt 0 1.0
phrasemodel pt 1 1.0
phrasemodel pt 2 1.0
phrasemodel pt 3 1.0
phrasemodel pt 4 1.0
phrasemodel pt 5 1.0
phrasemodel pt 6 1.0
phrasemodel pt 7 1.0
phrasemodel pt 8 1.0
phrasemodel pt 9 1.0
phrasemodel pt 10 1.0
phrasemodel pt 11 1.0
phrasemodel pt 12 1.0
phrasemodel pt 13 1.0
phrasemodel pt 14 1.0
phrasemodel pt 15 1.0
phrasemodel pt 16 1.0

#arityphrasepenalty owner start_arity end_arity weight
#arityphrasepenalty pt 0 0 1.0
#arityphrasepenalty pt 1 2 -1.0

#phrasemodel mono 0 0.5

#wordpenalty weight
wordpenalty -1.0

#oovpenalty -100
