### MERT parameters
# target sentences file name (in this case, file name prefix)

-r       <REF>
-rps     <NUMREFS>                   # references per sentence
-p       <MERTDIR>/params.txt        # parameter file
-m       BLEU 4 closest              # evaluation metric and its options
-maxIt   10                          # maximum MERT iterations
-ipi     20                          # number of intermediate initial points per iteration
-cmd     <MERTDIR>/decoder_command   # file containing commands to run decoder
-decOut  <MERTDIR>/tune.output.nbest # file prodcued by decoder
-dcfg    <MERTDIR>/joshua.config     # decoder config file
-N       300                         # size of N-best list
-v       1                           # verbosity level (0-2; higher value => more verbose)

