<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- test suite for thrax -->

<suite name="Thrax" verbose="2">

    <test name="Datatypes">
        <packages>
            <package name="edu.jhu.thrax.datatypes"/>
        </packages>
    </test>

    <test name="Input Utilities">
        <packages>
            <package name="edu.jhu.thrax.util.io"/>
        </packages>
    </test>

</suite>

