parse=true
mark_oovs=false
pop-limit=0
useCubePrune=false
useBeamAndThresholdPrune=false

#lm_file=/home/hltcoe/ccallison/parallel_corpus/model/lm/a2e.giga.noUN.5gram.lm.gz
lm_file=test.lm

tm_file=/home/hltcoe/jweese/experiments/2011_10_31_ccg_glue_feature/hiero/grammar.unlabeled
tm_format=thrax

glue_file=glue.grammar
glue_file=/home/hltcoe/jweese/experiments/2011_10_31_ccg_glue_feature/hiero/glue.grammar.fixed.unlabeled
glue_format=thrax

#lm config
lm_type=kenlm
lm_ceiling_cost=100
use_left_equivalent_state=false
use_right_equivalent_state=false
order=1


#tm config
span_limit=100
phrase_owner=pt
default_non_terminal=X
goalSymbol=GOAL

#nbest config
use_unique_nbest=true
use_tree_nbest=true
add_combined_cost=true
top_n=1


###### model weights
#lm order weight
lm 1.000000

#phrasemodel owner column(0-indexed) weight
phrasemodel pt 0 1.066893

#wordpenalty weight
wordpenalty -2.844814

