tm = thrax pt 10 examples/example/hiero.tm.gz
tm = thrax mono -1 examples/grammars/hiero.glue

#lm config
lm = kenlm 3 0 0 100 examples/example/trigram.lm.gz

#tm config
default-non-terminal = X
goalSymbol = GOAL

#pruning config
pop-limit = 10

#nbest config
use_unique_nbest = true
top-n = 1

threads = 2

feature-function = OOVPenalty
feature-function = WordPenalty

###### model weights
#lm order weight
lm_0 1.000000

#phrasemodel owner column(0-indexed) weight
tm_pt_0 1.066893
tm_pt_1 0.752247
tm_pt_2 0.589793

tm_mono_0 0.5

#wordpenalty weight
WordPenalty -2.844814

OOVPenalty -100
