tm_file=examples/example/hiero.tm.gz
tm_format=thrax

glue_file=examples/grammars/hiero.glue
glue_format=thrax

#lm config
lm = kenlm 3 0 0 100 examples/example/trigram.lm.gz

#tm config
span_limit=10
phrase_owner=pt
default_non_terminal=X
goalSymbol=S

#pruning config
pop-limit = 10

#nbest config
use_unique_nbest=true
use_tree_nbest=false
add_combined_cost=true
top_n=1

threads = 1


###### model weights
#lm order weight
lm 0 1.000000

#phrasemodel owner column(0-indexed) weight
phrasemodel pt 0 1.066893
phrasemodel pt 1 0.752247
phrasemodel pt 2 0.589793

#arityphrasepenalty owner start_arity end_arity weight
#arityphrasepenalty pt 0 0 1.0
#arityphrasepenalty pt 1 2 -1.0

#phrasemodel mono 0 0.5

#wordpenalty weight
wordpenalty -2.844814

