rescore-forest = true
rescore-forest-weight = 100

lm = kenlm 5 false false 100 ../constrained/lm.gz

tm = thrax pt 12 grammar.gz
tm = thrax glue -1 glue-grammar

mark-oovs = true

default-non-terminal = X
goalSymbol = GOAL

#pruning config
pop-limit = 100

#output-format = %i %c %s

#nbest config
use_unique_nbest = true
top_n = 2

feature-function = WordPenalty
feature-function = OOVPenalty

lm_0 1.2373676802179452

tm_pt_0 1
tm_glue_0 1
WordPenalty -1
OOVPenalty 1.0
